[Unit]
Description=CC1200 Daemon
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/srv/cc1200d/cc1200d
Restart=on-failure

[Install]
WantedBy=multi-user.target
